@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: courier;
  background-color: rgb(176, 216, 230, 0.4);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: #e0e0e0;
}

.container {
  display: grid;
  grid-template-columns: 1.2fr 5fr 1fr;
  grid-template-rows: .9fr 5fr;
}

.dashboard {
  background-color: rgba(0,0,0,0.7);
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: .7em;
  margin: 0 1em;
  gap: .5em;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.dashboard-list-container {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
}

.dashboard-unordered-list, .dashboard-unordered-list-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-list-container li {
  list-style-type: none;
  color: white;
  font-weight: bold;
}

.dashboard-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  padding-left: 2em;
}

.dashboard-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
  border-left: 5px solid white;
  background: #3e4049;
}




.header {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 4;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  gap: 20px;
}

.header-top {
  display: flex;
  flex-direction: row;
}

.header-top-left, .header-top-right {
  display: flex;
  flex-direction: row;
}

.header-top-left {
  width: 70%;
  gap: 1em;
  padding: 1em 0em 0em 2em;
}

.header-top-right {
  gap: 2em;
  width: 30%;
  padding: 1em 0em 0em 4em;
  align-items: center;
  padding-right: 1em;
}

.header-top-right span {
  font-weight: bold;
  font-size: 1.5rem;
}

.search-bar-div {
  width: 93%;
  background-color: #e0e0e0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  
}

.header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-bottom-left, .header-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-bottom-left {
  padding: 1.5em 0em 1.5em 1.5em;
  gap: 2em;
  width: 70%;
}

.top-greeting {
  font-size: 1rem;
  font-weight: 600;
}

.name-greeting {
  font-size: 1.5rem;
  font-weight: 600;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header-bottom-right {
  gap: 0 3em;
  padding-right: 1em;
}

.header-bottom-right button {
  width: 8em;
  height: 2.6em;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.7);
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 1rem;
}

.header-bottom-right button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.content {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
}

.content-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.content h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 80%;
}

.content-box {
  margin: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  border-left: 10px solid rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  min-height: 350px;
}

.content-title {
  font-size: 2rem;
}

.content-paragraph {
  position: absolute;
  top: 40%;
  width: 80%;
}

.content-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content-icons img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}





.side-bar-container {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 3 / 3 / 4;
}

.announcements {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 2em 0;
  margin: 0 2em 0 0;
}

.announcements-title {
  font-size: 2.2rem;
  margin-top: -10px;
  font-weight: bold;
}

.announcements-container {
  margin: .5em 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1em;
  background-color: white;
  border-radius: 15px;
  padding: 1em;
}

.top-line {
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.announcements-section {
  border-bottom: 1px solid rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
}

.announcements-section#last-announcement {
  border: none;
}

#trending-container {
  margin-right: 2em;
}